

.work-blank {
  margin: 4px 0;
  height: 1px;
  border-bottom: 0.8px solid hsl(210deg 18% 87% / 100%);
}

.work-title {
  height: 28px;
  font-size: 12px;
  line-height: 28px;
}

.work-detail-content {
  padding: 0px 0px 6px;
}

.work-detail {
  margin-right: 16px;
  font-size: 13px;
  color: #57606a;
  line-height: 22px;
}
