.education-content {
    padding: 14px 0px 0;

    /* border: 1px solid hsl(210deg 18% 87% / 100%); */
    border-radius: 6px;
    color: #24292f;
}



.education-title {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
}

