.profile-img {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.name {
  display: flex;
  justify-content: left;
  color: #000000;
  flex-direction: row;
  font-weight: 500;
  font-size: 32px;
}

.infocontent {
  display: flex;
  justify-content:left;
  flex-direction: row;
  padding-top: 8px;
}

.gan {
  color: #24292f;
}

.web {
  margin-top: 4px;
  font-size: 12px;
  color: #57606a;
}

.weblink {
  color: #0969da;
}

.profile-contact {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.profile-qr {
  margin-right: 20px;
  width: 58px;
}
