.skill-stack {
  height: 28px;
  font-size: 12px;
  border-top: 1px solid hsl(210deg 18% 87% / 100%);
  color: #24292f;
  flex-direction: row;
  line-height: 28px;
}

.skill-svg-content {
  margin-right: 8px;
  height: 32px;
}

.skills {
  margin-right: 16px;
  font-size: 13px;
  color: #24292f;
  line-height: 22px;
}

.content {
  padding-top: 10px;
}

