.english-work-content {
  padding: 5px 0px 6px;

  /* border: 1px solid hsl(210deg 18% 87% / 100%); */
  border-radius: 6px;
  color: #24292f;
}

.work-blank {
  margin: 4px 0;
  height: 1px;
  border-bottom: 0.8px solid hsl(210deg 18% 87% / 100%);
}

.work-title {
  height: 30px;
  font-size: 12px;
  line-height: 30px;
}

.work-detail-content {
  padding: 2px 6px 6px;
}

.work-detail {
  margin-right: 16px;
  color: #57606a;
  font-size: 12px;
  line-height: 22px;
}
