.university-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 4px;
  line-height: 24px;
}

.university-left {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.e-university-name {
  margin-right: 20px;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.e-major {
  margin-right: 6px;
  font-size: 14px;
  line-height: 24px;
}

.e-degree-level {
  width: 60px;
  font-size: 14px;
  line-height: 24px;
}

.e-gpa {
  color: #4f545a;
  font-size: 12px;

  /* font-weight: 200; */
  line-height: 25px;
}

.unviersity-year {
  color: #44494d;
  font-size: 12px;
  line-height: 22px;
}
