.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 12px;
  padding: 14px;
  border: 1px solid hsl(210deg 18% 87% / 100%);
  border-radius: 6px;
}

.introContent {
  padding-bottom: 4px;
}