.project-single-project-content {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  /* margin-top: 4px; */
}

.english-projects-one-line-list {
  display: flex;
  flex-direction: row;
}
