.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.introContent {
  padding-bottom: 4px;
}

.descContent {
  display: flex;
  padding-top: 4px;
  font-size: 12px;
  color: #57606a;
  flex-direction: row;
}