.portal-project-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 12px;
}

.portal-project-title {
  margin-bottom: 6px;
  font-size: 14px;
}

.single-project-view {
  font-size: 13px;

  /* padding-top: 10px; */

  /* padding-left: 12px; */
  color: #0969da;

  /* font-weight: 400; */
}

.wallet-project-list {
  display: flex;
  flex-direction: row;
}
