.english-single-project-content {
    display: inline-block;
    justify-content: space-between;
    flex-direction: column;
    /* margin-top: 18px; */
    padding: 14px 14px 14px 4px;
    width: 230px;
    /* border-top: 1px solid hsl(210deg 18% 87% / 100%); */
    /* border-bottom: 1px solid hsl(210deg 18% 87% / 100%); */
    /* border-radius: 6px; */
}

.single-project-title {
    padding-bottom: 6px;
    font-size: 12px;
    line-height: 14px;
}

.single-project-desc {
    /* margin-top: 6px; */
    display: flex;
    flex-direction: row;
    color: #57606a;
    font-size: 12px;
    line-height: 19px;
}

.single-project-desc-icon {
    padding-right: 6px;
}

.english-single-project-view {
    padding-top: 3px;
    /* padding-left: 12px; */
    color: #0969da;
    font-size: 10px;

    /* font-weight: 400; */
}