.skill-content {
    padding-bottom: 12px;
    border-bottom: 1px solid hsl(210deg 18% 87% / 100%);
}

.english-skill-stack {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 28px;
    border-top: 1px solid hsl(210deg 18% 87% / 100%);
    color:#24292f;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
}

.skill-svg-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 8px;
    height: 28px;
}

.skill-single-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 8px;
}

