.single-project-desc {
  display: flex;
  font-size: 13px;
  color: #57606a;
  flex-direction: row;
  line-height: 19px;
}

.single-project-desc-icon {
  padding-right: 6px;
}

.single-project-view {
  padding-top: 5px;
  font-size: 13px;
  color: #0969da;
}