.content {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
}

.title {
  font-size: 12px;
}

.desc {
  display: flex;
  padding-right: 14px;
  font-size: 12px;
  color: #57606a;
  flex-direction: row;
}

.descContent {
  display: flex;
  flex-direction: row;
}
