.university-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 4px;
  line-height: 24px;
}

.university-left {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.university-name {
  margin-right: 20px;
  font-size: 15px;
  line-height: 24px;
  color: black;
}

.major {
  margin-right: 6px;
  font-size: 14px;
  line-height: 24px;
}

.degree-level {
  width: 60px;
  font-size: 14px;
  line-height: 24px;
}

.gpa {
  color: #57606a;
  font-size: 13px;

  /* font-weight: 200; */
  line-height: 25px;
}

.unviersity-year {
  color: #57606a;
  font-size: 12px;
  line-height: 22px;
}
